<div class="text-center" style="width: 100%; max-width: 330px; padding: 15px; margin: auto;">
    <form action="/admin/add-project/" method="post">
        <img class=" mb-4" src="" alt="" width="100" height="80">
        <h1 class=" h3 mb-3 fw-normal">Add Project</h1>
        <input class="form-control mt-3" name="projectname" id="projectname" placeholder="Project name" required>
        <input class="form-control mt-3" name="projectcode" id="projectcode" placeholder="Project Code" required>
       
    <input type="hidden" name="projectstatus" value="Ongoing">
        <button class="w-100 btn btn-lg btn-primary mt-5" type="submit">Add</button>

    </form>
</div>