<div class="text-center" style="width: 100%; max-width: 330px; padding: 15px; margin: auto;">
    <form action="/admin/add-user/" method="post">

        <h1 class=" h3 mb-3 fw-normal">Add User</h1>
        <input class="form-control mt-3" name="usernames" id="usernames" placeholder="Username">
        <input class="form-control mt-3" name="passwords" id="passwords" placeholder="Password">


        <button class="w-100 btn btn-lg btn-primary mt-5" type="submit">Add</button>

    </form>
</div>