

 <div class="content-page">
                <div class="content">

                    <!-- Start Content-->
                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">                                                                       
                                    <h4 class="page-title">Add User</h4>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-2 pt-5 justify-content-center">
                             <div class="col-md-4">
                                <div class="card">
                                  
                                    
                                    <div class="card-body">
                        <form action="/admin/add-user/" method="post">

      
        <input class="form-control mt-3" name="usernames" id="usernames" placeholder="Username">
        <input class="form-control mt-3" name="passwords" id="passwords" placeholder="Password">


        <button class="w-100 btn btn-lg btn-primary mt-5" type="submit">Add</button>

    </form>         
                                    </div>
                                 
                                </div> <!-- end card-->
        
    </div>
                        
                           </div>
                              </div>
                                 </div>