
            <div class="content-page">
                <div class="content">

                    <!-- Start Content-->
                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">                                                                       
                                    <h4 class="page-title">Search Timesheet</h4>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-2 justify-content-center">
                             <div class="col-md-4">
                                <div class="card">
                                    {{!-- <div class="card-header bg-light">
                                        Timesheet
                                    </div> --}}
                                    <div class="card-body">
                                       <form id="employeeForm" action="/admin/datasheet" method="POST">
                        <div class="form-group" style="margin-bottom: 20px;">
                            <label for="searchdate" style="font-weight: bold;">Select Date:</label>
                            <input type="date" id="searchdate" name="searchdate" class="form-control" required>
                        </div>
                        <button type="submit" id="submits" class="btn btn-primary">Submit</button>
                    </form>
                                
                                    </div>
                                 
                                </div> <!-- end card-->
        
    </div>
                        
                           </div>
                              </div>
                                 </div>