<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Surname </th>
            <th scope="col">Name </th>
            <th scope="col">Passport No</th>
            <th scope="col">QID</th>
            <th scope="col">Nationality</th>
            <th scope="col">Category</th>
            <th scope="col">salary</th>
            <th scope="col">status</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope=" row">1</th>
            <td>muhd alias bappu</td>
            <td>Mark</td>
            <td>123456789</td>
            <td>45638373</td>
            <td>india</td>
            <td>hired</td>
            <td>
                <dl>
                    <dd>Basic:</dd>
                    <dd>Allowance:</dd>
                    <dd>Bonus:</dd>
                </dl>
            </td>
            <td>on leave</td>
            <td><button type="button" class="btn btn-outline-dark">Edit</button></td>
        </tr>

    </tbody>
</table>