<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Project Name </th>
            <th scope="col">Project Code</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope=" row">1</th>
            <td>Mark</td>
            <td>123456789</td>
            <td>ongoing</td>

        </tr>

    </tbody>
</table>