<div class="content-page">
    <div class="content">         
        <div class="container-fluid">
             <div class="row">
                 <div class="col-12">
                    <div class="page-title-box">                                                                       
                        <h4 class="page-title">Salary Statement</h4>
                    </div>
                 </div>
            </div>
            <div class="row mb-2 justify-content-center">
                <div class="col-md-4">
                        <div class="card">
                        <div class="card-body">
                            <form id="employeeForm" action="/admin/search-report" method="POST">
                             <div class="form-group" style="margin-bottom: 20px;">
                                <label for="searchdate" style="font-weight: bold;">Select Month:</label>
                                <input type="month" id="searchdate" name="searchdate" class="form-control"  >
                            </div>
                            <div class="form-group" style="margin-bottom: 20px;">
                                <label for="searchdate" style="font-weight: bold;">Select Report Type:</label>
                                <select class="form-select mt-2" name="employeeType" id="employeeType" aria-label=" Default select example" required>
                                 <option value=""></option>
                                 <optgroup label="EmployeeTypes">
                                 <option value="Own Labour">Own Labour</option>
                                 <option value="Own Staff (Operations)">Own Staff (Operations)</option>
                                  <option value="Own Staff (Projects)">Own Staff (Projects)</option>
                                 <option value="Hired Labour (Hourly)">Hired Labour (Hourly)</option>
                                  <option value="Hired Labour (Monthly)">Hired Labour (Monthly)</option>
                                 <option value="Hired Staff (Operations)">Hired Staff (Operations)</option>            
                                 <option value="Hired Staff (Projects)">Hired Staff (Projects)</option>      
                                 <option value="All">All</option>      
                                 </optgroup>
                                  <optgroup label="Groups">
                                    {{#each groupNames}}
                                     <option value="{{this}}">{{this}}</option>  
                                    {{/each}}
                                  </optgroup>

                                  </select>
                            </div>
                                 <button type="submit" id="submits" class="btn btn-primary" >Submit</button>
                            </form>   
                        </div>          
                        </div> <!-- end card-->
                </div>                     
            </div>
        </div>
</div>
