<table class="table  table-bordered table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">Password</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {{#each users}}
        <tr>
            <th scope="row">1</th>
            <td>{{this.usernames}}</td>
            <td>{{this.passwords}}</td>
            <td>
                <a href="/admin/edit-user/{{this._id}}" class="btn btn-outline-dark">Edit</a>
            </td>



        </tr>
        {{/each}}
    </tbody>
</table>
<a class="btn btn-outline-dark btn-lg p-2 m-5" href="/admin/add-user" role="button">Add User</a>