


            <div class="content-page">
                <div class="content">

                    <!-- Start Content-->
                    <div class="container-fluid">
                      <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">
                                    <div style="float: right; margin-top: 20px;">
                                       <a href="/admin/add-user" class="btn btn-danger rounded-pill mb-3"><i class="mdi mdi-plus"></i> Create User</a>
                                    </div>
                                    <h4 class="page-title">Users List</h4>
                                    <div class="col-sm-4">
                               
                            </div>
                                </div>
                            </div>
                        </div>

                           <div class="row mb-2">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        
                                      
                                        <div class="tab-content">
                                            <div class="tab-pane show active" id="scroll-horizontal-preview">
<table class="table table-centered mb-0">
    <thead>
        <tr>
           <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">Password</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
         {{#each users}}
        <tr>
            <th scope="row">{{this.index}}</th>
            <td>{{this.usernames}}</td>
            <td>{{this.passwords}}</td>
            <td>
                <a href="/admin/edit-user/{{this._id}}"  class="action-icon"> <i class="ri-edit-fill"></i></a>
                
            </td>



        </tr>
        {{/each}}
  
           
        </tr>
    
    </tbody>
</table>


                                                 </div> <!-- end preview-->
                                        
                                           
                                        </div> <!-- end tab-content-->

                                    </div> <!-- end card body-->
                                </div> <!-- end card -->
                            </div><!-- end col-->
                        </div> <!-- end row-->
                        </div> 
                        </div> 
                        </div> 

                        