<h1 class=" h2 mb-3 fw-normal text-center mt-5">Employees</h1>

<div class="col d-flex justify-content-center mt-5 ">
    <div class=" card" style="width: 18rem;">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Name:</li>
            <li class="list-group-item">QID:</li>
            <li class="list-group-item">Remark:</li>
        </ul>
        <h5 class="mt-1 text-center"> PROJECT</h5>
        <select class="form-select mt-2" aria-label="Default select example">
            <option> Project Name:</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
        <input class="form-control mt-2" name="workhour" id="workhour" placeholder="WorkHour">
        <div class="card-body">
            <a href="#" class="btn btn-primary">Back</a>
            <a href="#" class="btn btn-primary text-end">Next</a>
        </div>

    </div>
</div>